<!DOCTYPE html>
<html>
<head>
  <title>Bkunderderground</title>
  <%= csrf_meta_tags %>
</head>
<style type="text/css">
	input {width: 40%;}
	#venue_other {width: 40%; height: 100px;}
</style>
<body>

<%= yield %>

</body>
</html>
